<!-- templates/registration/password_reset_done.html -->
{% extends 'base.html' %}

{% block title %}Отправка письма на почту teach.ua{% endblock %}
{% block css %}
<style>
		.main{
		background: white;
		border-radius: 10px;
		padding: 2%;
		
}


</style>
{% endblock %}

{% block content %}
<div class="container text-center mt-5 main">
	{% if user.is_authenticated %}
	<h1 class='text-center'>Что такое, {{ user.username }}? Вы же уже авторизорваны. </h1>
	<p class='text-center'>Впрочем, всегда можно <a href="{% url 'logout' %}">выйти</p>
		{% else %}
		<h1 class=''>Проверьте свою почту!</h1>
		<p class='text-center'>
		Мы отправили вам по электронной почте инструкции по установке пароля. Вы должны получить письмо в ближайшее время!</p>
		{% endif %}
</div>
{% endblock %}