{% extends 'base.html' %}

{% block title %}Изменения пароля окончено teach.ua{% endblock %}
{% block css %}
<style>
		.main{
		background: white;
		border-radius: 10px;
		padding: 2%;
		
}

#login_user{
	color: #6f42c1 !important;
}

</style>
{% endblock %}
{% block content %}

<div class="container text-center main mt-5">
	{% if user.is_authenticated %}
	<h1 class='text-center'>Что такое, {{ user.username }}? Вы же уже авторизорваны. </h1>
  <p class='text-center'>Впрочем, всегда можно <a href="{% url 'logout' %}">выйти</p>
{% else %}
	<h1>Изменение пароля окончено</h1>
<p>Ваш новый пароль был установлен. Теперь вы можете войти на  <a href="{% url 'login' %}" id='login_user'>страницу входа</a>.</p>
{% endif %}
</div>

{% endblock %}