<!-- templates/registration/password_reset_form.html -->
{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}Забыли свой пароль? teach.ua{% endblock %}
{% block css %}
<style>
		.main{
		background: white;
		border-radius: 10px;
		padding: 2%;
		
}


</style>
{% endblock %}
{% block content %}
<div class="container mt-5 main">
{% if user.is_authenticated %}
	<h1 class='text-center'>Что такое, {{ user.username }}? Вы же уже авторизорваны. </h1>
  <p class='text-center'>Впрочем, всегда можно <a href="{% url 'logout' %}">выйти</p>
{% else %}
  <h1 class='text-center'>Забыли пароль?</h1>
  <p class='text-center'>Введи свой электронный адрес, что бы мы могли отправить вам инструкцию</p>

  <form method="POST" class='col-lg-6 col-12 offset-lg-3 '>
    {% csrf_token %}
    {{ form | crispy}}
    <div class="text-right">
    <input type="submit" value="Отправить инструкцию!" class='btn btn-primary '>
    </div>
  </form>
  {% endif %}	
</div>

{% endblock %}