{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}Введите новый пароль teach.ua{% endblock %}
{% block css %}
<style>
		.main{
		background: white;
		border-radius: 10px;
		padding: 2%;
		
}


</style>
{% endblock %}
{% block content %}
<div class="container  main mt-5">

	<h1 class='text-center'>Введите новый пароль</h1>
<form method="POST" class='col-lg-6 col-12 offset-lg-3'>
  {% csrf_token %}
  {{ form | crispy}}
  <div class="text-right">
  <input type="submit" value="Изменить пароль!" class='btn btn-primary '>
  </div>
</form>
</div>
{% endblock %}