<!-- Footer -->
<footer class="page-footer font-small blue-grey lighten-5 align-self-end">


  <!-- Footer Links -->
  <div class="container text-center text-md-left mt-5">

    <!-- Grid row -->
    <div class="row mt-3 dark-grey-text ">

      <!-- Grid column -->
      <div class="col-md-3 col-lg-4 col-xl-3 mb-4 mt-4">

        <!-- Content -->
        <h6 class="text-uppercase font-weight-bold"><a  href="{% url 'user:home' %}">Teacher</a></h6>
        <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>В судьбе нет случайностей; человек скорее создает, нежели встречает свою судьбу.</p>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4 mt-4">

        <!-- Links -->
         <h6 class="text-uppercase font-weight-bold">Для сайта</h6>
        <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>
          <a class="dark-grey-text" href="{% url 'user:home' %}">Объявления</a>
        </p> 
        <p>
          <a class="dark-grey-text" href="{% url 'user:subscribe' %}">Оформить подписку</a>
        </p>
        <p>
          <a class="dark-grey-text" href="{% url 'user:help' %}">Помощь</a>
        </p>

      </div>
      <!-- Grid column -->
    
      <!-- Grid column -->
      <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4 mt-4">
          
        <!-- Links -->
        
        <h6 class="text-uppercase font-weight-bold">Пользователь</h6>
        <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        {% if user.is_authenticated %}
        <p>
          <a class="dark-grey-text" href="{% url 'user:update_profile' user.pk %}">Редактировать профиль</a>
        </p>
        <p>
          <a class="dark-grey-text" href="{% url 'logout' %}">Выйти</a>
        </p>

        {% else %}
        <p>
          <a class="dark-grey-text" href="{% url 'login' %}">Войти</a>
        </p>
        <p>
          <a class="dark-grey-text" href="{% url 'user:django_registration_register' %}">Зарегестрироваться</a>
        </p>
        {% endif %}
      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4 mt-4">

        <!-- Links -->
        <h6 class="text-uppercase font-weight-bold">Контакты</h6>
        <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>
          <i class="fas fa-home mr-3"></i>Украина г.Киев </p>
        <p>
          <i class="fas fa-envelope mr-3"></i>teach.teacher.ua@gmail.com</p>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center text-black-50 py-3"><span style='color: #342f2e'>© 2019 Copyright:</span>
    <a class="dark-grey-text" href="{% url 'user:home' %}">Teach.ua</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->