{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}Профаил teach.ua{% endblock %}
{% block css %}
<style>

  .vip{
    background-color: #e4e0ee;
    border-left: 2px solid #401f68;
    border-left-radius: 5px;
  }


  .card-body{
    padding: 0 ;
    padding-left: 1.5rem;
  }
  p{
    margin-bottom: 0;
  }

	  .modal-content{
    min-height: 70%;
  }

  .vip-modal{
    background-color: #e4e0ee;
    border: #401f68;
  }

  .alert-success{
    background-color: white;
    border: 2px solid #b6acd1;
    color: black;
  }


  .vip-comment{
    background-color: #e4e0ee;
    border: 2px solid #401f68;
    color: #716c6b;
  }
  .vip-comment hr{
    background-color: #401f68;
    border-top-color: #401f68;
  }

	.main{
		background: white;
		border-radius: 10px;
		padding: 2%;
	}

	img{
		
		width: 100%;
		max-width: 100%;
		height: auto;
	}

	.no-resize {
		resize: none;
	}

	h2, label{
		color: #401f68;
	}

	.form-check-label{
		color: #495057;
	}
</style>
{% endblock %}

{% block content %}

<div class="main container mt-2 " id='app-profile'>
	<h2 class='h2 text-center '>Мой профиль</h2>
	<form method="POST" enctype="multipart/form-data"  name='uploadForm' id="uploadForm">
		<div class="form-row">
			<div class="form-group col-md-6 ">	
				<img :src='img_url'  alt="" id="blah">
				<input type="file" class="form-control-file mt-2" id="imgInp"  @change="onFileChange">	
			</div>

			<div class="form-group col-md-6 order-md-first">

				<div class="form-row">
					<div class="form-group col-md-12">
						<label for="name">Имя</label>
						<input type="text" class="form-control" id="name" v-model.lazy.trem='user.name' pattern="^\D [^0-9]+$" required>
					</div>
				</div>
				<div class="form-row">
					<div class="form-group col-md-12">
						<label for="surname">Фамилия</label>
						<input type="text" class="form-control" id="surname" v-model.lazy.trem='user.surname' pattern="^\D [^0-9]+$" required>

					</div>
				</div>
				<div class="form-row">
					<div class="form-group col-md-12">
						<label for="email">Email</label>
						<input type="email" class="form-control" id="email" :value='user.email' disabled>
					</div>
				</div>

				<div class="form-row">
					<div class="form-group col-md-6">
						<label for="email">Возраст</label>
						<input type="number"  class="form-control" id="email" v-model.lazy.trem='user.age' min="0" max='100' required>
					</div>
					<div class="form-group col-md-6">
						<label for="email">Цена за 1 час</label>
						<input type="number"  class="form-control" id="email" v-model.lazy.trem='user.price_per_hource' min="0" required>
					</div>

				</div>

				<div class="form-row">
					<div class="form-group col-md-6">
						<label for="phone">Номер телефона</label>
						<input class='form-control' type="tel" id="phone" name="phone" v-model.lazy.trem='user.mobile_number'
						pattern="[+0-9]{10,13}"
						required>

					</div>
					<div class="form-group col-md-6">
						<label for="city">Город</label>
						<input type="text" class="form-control" id="city" v-model.lazy.trem='user.city' pattern="^\D [^0-9]+$" required>

					</div>
				</div>

				<div class="form-row">
					<div class="form-group col-12">
						<p>Вид преподования:</p>
						<div v-for='(item, index) in type_lesson_all' class='ml-5 '>
							<input type="checkbox" class="form-check-input" :id='"checkType"+item.type_lesson' v-model='item.checked'>
							
							<label class='form-check-label' :for='"checkType"+item.type_lesson'><% item.type_lesson %> </label>	
						</div>
					</div>

				</div>
			</div>
		</div>


		<div class="form-row">
			<div class="form-group">
				<label>Уроки</label>
				<input type="button" 
				class="btn btn-primary" 
				value="Добавить урок"
				@click="addLesson"
				>

			</div>
		</div>
		
		<div class="form-row" >
			<div class="form-group col-md-4" v-for="(guest, index) in lessons">
				<label @dblclick="deleteGuest(index)">
					Предмет <% index + 1  %>
				</label>
				                <a сlass=""  @click="deleteLesson(index)" ><i class="fas fa-times" style='color:red'></i></a>
                <input type="text" class="form-control" v-model.lazy.trem="lessons[index]">
			</div>
		</div>

		<div class="form-row">
			<div class="form-group col-md-3">
				<label for="skype">Skype</label>
				<input type="text" class="form-control" id="skype" v-model.lazy.trem='user.skype'>
			</div>
			<div class="form-group col-md-3">
				<label for="viber">Viber</label>
				<input type="text" class="form-control" id="viber" v-model.lazy.trem='user.viber'>
			</div>	
			<div class="form-group col-md-3">
				<label for="telegram">Telegram</label>
				<input type="text" class="form-control" id="telegram" v-model.lazy.trem='user.telegram'>
			</div>
			<div class="form-group col-md-3">
				<label for="instagram">Instagram</label>
				<input type="text" class="form-control" id="instagram" v-model.lazy.trem='user.instagram'>
			</div>
		</div>
		<div class="form-row">
			<div class="form-group col-md-12">
				<label for="about">О себе</label>
				<textarea name="" id="" cols="5" rows="3" required class='no-resize textarea form-control' maxlength="140" v-model.lazy.trem=' user.about'></textarea>
			</div>

		</div>

		<div class="form-row">

			<div class="form-group col">
				<div  class='ml-5 text-right mb-2'>
					<input type="checkbox" class="form-check-input" id='checkTypeValid' v-model='user.valid_announcement'>
					<label class='form-check-label' for='checkTypeValid'>Показывать ваш профиль другим пользователям?</label>	
				</div>
				<div class="text-right">
					<button class='btn btn-primary mb-2' type='submit' @click.prevent='submit($event)'>Сохранить изменения</button></div>
				</div>
			</div>
		

	</form>

<!-- Start block -->
   <div class=""  >
     <!--Start card-->
     <div class="card mb-3 mt-1 " >
       <div class="row no-gutters "  :class="user.subscription != 'L' ? 'vip' : 'low'">
 
         <div class="col-md-2 p-2">
           <img :src="img_url" class="" alt="..." style='width: 100%; height: auto;'>          
         </div>
 
         <div class="col-md-10 mt-sm-1">
           <div class="card-body">
             <h5 class="card-title"><%user.name%> <%user.surname%></h5>
             <p class="card-text font-weight-bold">Вид занятости <i class="fas fa-chalkboard-teacher"></i>: </p>
             <span v-for='(value, name) in type_lesson_all' v-if='type_lesson_all[name] == true'> <% name %>,</span>
             <p class="card-text font-weight-bold">Название предмета <i class="fas fa-graduation-cap"></i>:</p>
             <span v-for='skill in lessons'> <% skill %> </span> </p>
             <button type="button" class="btn btn-primary m-sm-1" data-toggle="modal":data-target="'#demo' + user.id" > Подробнее...</button> 
           </div>
         </div>
 
         <div class="col">
           <div class="row card-text d-flex justify-content-between m-sm-1">
             <div class="col-md-3 col-5"><small class="text-muted pl-3 pl-m-5">Нравится: <% user.like | countLike %> </small></div>
             <div class="col-md-3 col-7"><small class="text-muted pl-2 pl-m-5">Город: <%user.city%> </small></div>
             <div class="col-md-3 col-5"><small class="text-muted pl-3 pl-m-5"> Возраст: <%user.age%> </small></div>
             <div class="col-md-3 col-7"><small class="text-muted pl-2 pl-m-5"> Цена в час: <%user.price_per_hource%> </small></div>
           </div>         
         </div>
       </div> 
       <!-- End card -->
     </div>
 
 
     <!-- Start modal block -->
     <div class="modal fade bd-example-modal-lg"  tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" :id="'demo' + user.id">
       <div class="modal-dialog modal-lg" >
         <div class="modal-content" :class="user.subscription != 'L' ? 'vip-modal' : 'low-modal'">
           <!-- Header modal block -->
           <div class="modal-header">
             <div class="container-fluid">
               <div class="row">
                 <div class="col-lg-4 col-12 text-center">
                   <img :src="img_url" class="img-thumbnail" alt="..." style='max-width: 100%; height: auto;'>
                 </div>
                 
                 <div class="col-lg-8 col-12">
                   <h3 class="modal-title font-weight-bold" id="exampleModalLongTitle"><%user.name%> <%user.surname%></h3>
                   <p class="modal-title"> <span class="font-weight-bold">Город <i class="fas fa-city"></i></span>: <span><%user.city%> </span></p>
                   <p class="modal-title"> <span class="font-weight-bold">Возраст <i class="fas fa-user-tie"></i></span>: <span><%user.age%> </span></p>
                   <p class="modal-title"> <span class="font-weight-bold">Цена в час <i class="far fa-clock"></i></span>: <span><%user.price_per_hource%></span></p>
                   <p class="modal-title font-weight-bold">Вид занятости <i class="fas fa-chalkboard-teacher"></i>: </p>
                   <span v-for='type in user.type_lesson'> <% type.type_lesson %>,</span>
                   <p class="modal-title font-weight-bold">Название предмета <i class="fas fa-graduation-cap"></i>:</p>
                   <span v-for='skill in lessons'> <% skill %> </span> </p>
                 </div>
                 <div class="col-8">
                   <h4>Контактные данные: </h4>
                   <p v-if='user.mobile_number != null'><span class="font-weight-bold"><i class="fas fa-phone-alt"></i> Номер телефона:</span> <%user.mobile_number%></p>
                   <p v-if='user.email != null'><span class="font-weight-bold"><i class="fas fa-envelope"></i> Почта:</span> <%user.email%></p>
                   <p v-if='user.skype != null'><span class="font-weight-bold"><i class="fab fa-skype"></i> Skype:</span> <%user.skype%></p>
                   <p v-if='user.telegram != null'><span class="font-weight-bold"><i class="fab fa-telegram"></i> Telegram:</span> <%user.telegram%></p>
                   <p v-if='user.viber != null'><span class="font-weight-bold"><i class="fab fa-viber"></i> Viber:</span> <%user.viber%></p>
                   <p v-if='user.instagram != null'><span class="font-weight-bold"><i class="fab fa-instagram"></i> Instagram:</span> <%user.instagram%></p>
                 </div>
                 <div class="col-12 col-sm-4  align-self-end">
                   <p class="card-text" >Нравится:<span class="text-muted" v-bind:id="user.id"> <% user.like | countLike %> </span>                 
                     
                   </p>
                 </div>
                 <hr>
               </div>
             </div>
           </div>
           <!-- End header block -->
       <!-- Start body block -->
       <div class="modal-body ml-3">
         <p class="modal-title "><span class="font-weight-bold">О себе:</span> </p>
         <p class="modal-title mb-3"> <%user.about%></p>
         <div class="accordion" id="accordionExample">
          <div class="card">
             <div class="card-header" id="headingOne" :class="user.subscription != 'L' ? 'vip-modal' : 'low-modal'">
               <h2 class="mb-0">
                 <button class="btn btn-link" type="button" data-toggle="collapse" :data-target="'#collapseOne' + user.id" aria-expanded="true" aria-controls="collapseOne">
                   Комментарии
                 </button>
               </h2>
             </div>
 
             <div :id="'collapseOne' + user.id" class="collapse " aria-labelledby="headingOne" data-parent="#accordionExample">
               <div class="card-body mr-3">
                 <div class="input-group mb-3 mt-3 ">
                   <input type="text" class="form-control"    disabled>
                   <div class="input-group-append">
                     <button class="btn btn-outline-secondary btn-primary" type="button" disabled>Отправить</button>
                   </div>
                 </div>
                 <div :id="'comments_' + user.id">
                   <div class="alert alert-success" :class=' comment.owner.subscription == "V" ? "vip-comment": "low-coment"' v-for="comment in user.recipient_comment">
                     <p><% comment.text %></p>
                     <div class="row">
                       <div class="col-6  text-left"><% comment.owner.name %> <% comment.owner.surname %></div>
                       <div class="col-6 text-right"><span class=" "><% comment.date | dateParse %></span></div>
                     </div>
                 </div>
               </div>
             </div>
           </div> 
         </div>
         <div class="card">
             <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
             </div>
           </div>
         </div>
       </div>
       <!-- End body block -->
       <!-- Start footer block -->
       <div class="modal-footer">
 
         <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
         <button type="button" class="btn btn-primary">Связаться</button>
       </div>
       <!-- End footer block -->
     </div>
     <!-- End modal block -->
   </div>  
   <!-- End card block -->
</div> 




{% endblock %}

{% block js %}



<script>
	function count(value){
		var length = 0;
		for( var key in value ) {
			if( value.hasOwnProperty(key) ) {
				++length;
			}
		}
		return length;
	}


	new Vue({
		delimiters: ['<%', '%>'],
		el: '#app-profile',
		data: {
			user: [] ,
			img_url: '',
			type_lesson_all:[ 
				{id: 5, type_lesson: 'дистанционное преподавание', checked: false },
				{id: 4, type_lesson: 'репетиторство у клиента дома', checked: false },
				{id: 3, type_lesson: 'репетиторство на дому', checked: false },
				{id: 2, type_lesson: 'решаю на заказ', checked: false },
			],
			lessons: [''],
			data: new FormData()
		},
		created: function() {

			axios
			.get(`/user_profile/{{user.id}}/`)
			.then(response => {
				this.user = response.data
				this.img_url = this.user.img
				console.log(this.user)
				for(let i_all in this.type_lesson_all){
					for(let i in this.user.type_lesson ){
						if(this.user.type_lesson[i].id == this.type_lesson_all[i_all].id){
							this.type_lesson_all[i_all].checked = true
						}
					}
				}
			console.log(this.user.type_lesson)


			});
		},
		methods:{
			
			onFileChange(e) {
				const file = e.target.files[0];
				this.img_url = URL.createObjectURL(file);
				this.user.img = event.target.files[0];
				this.data.append('img', event.target.files[0]); 
			},
			addLesson(){

				if(this.lessons.length == 3 && this.user.subscription == 'L'){
					alert('Оформите подписку, что бы получить больше уроков')
				}
				else if(this.lessons.length == 6 && this.user.subscription == 'M'){
					alert('Повысте уровоень подписки что бы продолжить')
				}else if(this.lessons.length == 9 && this.user.subscription == 'V'){
					alert('Нельзя добавить больше уроков')
				}else{
					this.lessons.push('')
				}
				
				
			},
			deleteLesson(index){
				this.lessons.splice(index, 1);
			},

			submit(e){
				e.stopPropagation();
				e.preventDefault();

				this.user.skill = [{}]
				for(let i in this.lessons){
					if(this.lessons[i].length > 0 )
						this.user.skill.push(this.lessons[i])
				}

				const URL = `/user_profile/{{user.id}}/`; 
				

				console.log(typeof this.user.type_lesson)
				console.log(this.user.type_lesson)
				this.data.append('name', this.user.name);
				this.data.append('surname', this.user.surname);
				this.data.append('mobile_number', this.user.mobile_number);
				this.data.append('about', this.user.about);
				this.data.append('age', this.user.age);
				this.data.append('city', this.user.city);
				this.data.append('price_per_hource', this.user.price_per_hource);
				this.data.append('type_persone', this.user.type_persone);
				this.data.append('skype', this.user.skype);
				this.data.append('telegram', this.user.telegram);
				this.data.append('viber', this.user.viber);
				this.data.append('instagram', this.user.instagram);
				this.data.append('type_lesson', this.user.type_lesson);
				this.data.append('valid_announcement', this.user.valid_announcement);
				this.data.append('email', this.user.email);
			

				let config = {
					header : {
						'Content-Type' : 'application/form-data'
					}
				}

				axios
				.put(
					URL,
					this.data,
					config,
				)
				.then(resp => console.log(resp.data))
				.catch(err => console.log(err.response.data))

			}
		},
		filters: {
			countLike: function(value){
				return count(value);
			},
			dateParse: function(value){
				return value.slice(0,-17)
			}
		},
		
	})
</script>
{% endblock %}