{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}Профаил teach.ua{% endblock %}
{% block css %}
<style>

  .vip{
    background-color: #e4e0ee;
    border-left: 2px solid #401f68;
    border-left-radius: 5px;
  }


  .card-body{
    padding: 0 ;
    padding-left: 1.5rem;
  }
  p{
    margin-bottom: 0;
  }

	  .modal-content{
    min-height: 70%;
  }

  .vip-modal{
    background-color: #e4e0ee;
    border: #401f68;
  }

  .alert-success{
    background-color: white;
    border: 2px solid #b6acd1;
    color: black;
  }


  .vip-comment{
    background-color: #e4e0ee;
    border: 2px solid #401f68;
    color: #716c6b;
  }
  .vip-comment hr{
    background-color: #401f68;
    border-top-color: #401f68;
  }

	.main{
		background: white;
		border-radius: 10px;
		padding: 2%;
	}

	img{
		
		width: 100%;
		max-width: 100%;
		height: auto;
	}

	.no-resize {
		resize: none;
	}

	h2, label{
		color: #401f68;
	}

	.form-check-label{
		color: #495057;
	}

	 svg{
    display: block;
    width: 50px;
    height: auto;
  }

  #svg_2{
    fill:transparent; 
    stroke:#e4e0ee;
    fill: #e4e0ee;
    stroke-width:6px;
    cursor:pointer;
    transition:fill .3s;
  }

.form-text{
	color: red !important;
	font-size: 13px;
}
</style>
{% endblock %}

{% block content %}

<div class="main container mt-2 " id='app-profile'>
	<h2 class='h2 text-center '>Мой профиль</h2>
	<form method="POST" enctype="multipart/form-data"  name='uploadForm' id="uploadForm">
		<div class="form-row">
			<div class="form-group col-md-6 ">	
				<img :src='img_url'  alt="" id="blah">
				<input type="file" class="form-control-file mt-2" id="imgInp"  @change="onFileChange">	
			</div>

			<div class="form-group col-md-6 order-md-first">

				<div class="form-row">
					<div class="form-group col-md-12">
						<label for="name">Имя</label>
						<input type="text" class="form-control" id="name"  v-model.lazy.trem='user.name' required>
						<div class="form-text text-muted" id='nameInvalid'>

						</div>
					</div>
				</div>
				<div class="form-row">
					<div class="form-group col-md-12">
						<label for="surname">Фамилия</label>
						<input type="text" class="form-control"  id="surname" v-model.lazy.trem='user.surname' required>
						<div class="form-text text-muted" id='surnameInvalid'>

						</div>
					</div>
				</div>
				<div class="form-row">
					<div class="form-group col-md-12">
						<label for="email">Email</label>
						<input type="email" class="form-control" id="email" :placeholder='user.email' disabled>
					</div>
				</div>

				<div class="form-row">
					<div class="form-group col-md-6">
						<label for="age">Возраст</label>
						<input type="number"  class="form-control" id="age" v-model.lazy.trem='user.age' required>
												<div class="form-text text-muted" id='ageInvalid'>

						</div>
						<div class="form-text text-muted" id='ageBigInvalid'>

						</div>

					</div>
					<div class="form-group col-md-6">
						<label for="price">Цена за 1 час</label>
						<input type="number"  class="form-control" id="price" v-model.lazy.trem='user.price_per_hource'  required>
												<div class="form-text text-muted" id='priceInvalid'>

						</div>

					</div>

				</div>

				<div class="form-row">
					<div class="form-group col-md-6">
						<label for="phone">Номер телефона</label>
						<input class='form-control' type="tel" id="phone" name="phone" v-model.lazy.trem='user.mobile_number'
						required>
												<div class="form-text text-muted" id='numberInvalid'>

						</div>

					</div>
					<div class="form-group col-md-6">
						<label for="city">Город</label>
						<input type="text" class="form-control" id="city" v-model.lazy.trem='user.city' required>
						<div class="form-text text-muted" id='cityInvalid'>

						</div>

					</div>
				</div>

				<div class="form-row">
					<div class="form-group col-12">
						<p>Вид занятости:</p>
						<div v-for='(item, index) in type_lesson_all' class='ml-5 '>
							<input type="checkbox" class="form-check-input" :id='"checkType"+item.type_lesson' v-model='item.checked'>
							
							<label class='form-check-label' :for='"checkType"+item.type_lesson'><% item.type_lesson %> </label>	
						</div>
						<div class="form-text text-muted" id='typeInvalid'>

						</div>

					</div>

				</div>
			</div>
		</div>


		<div class="form-row">
			<div class="form-group">
				<label>Уроки</label>
				<input type="button" 
				class="btn btn-primary m-1" 
				value="Добавить урок"
				@click="addLesson"
				>
				<div class="form-text text-muted" id='lessonInvalid'>

				</div>

			</div>
		</div>
		
		<div class="form-row" >
			<div class="form-group col-md-4" v-for="(guest, index) in lessons">
				<label @dblclick="deleteGuest(index)">
					Предмет <% index + 1  %>
				</label>
				                <a сlass=""  @click="deleteLesson(index)" ><i class="fas fa-times" style='color:red'></i></a>
                <input type="text" class="form-control" v-model.lazy.trem="lessons[index]">
			</div>
		</div>

		<div class="form-row">
			<div class="form-group col-md-3">
				<label for="skype">Skype</label>
				<input type="text" class="form-control" id="skype" v-model.lazy.trem='user.skype'>
			</div>
			<div class="form-group col-md-3">
				<label for="viber">Viber</label>
				<input type="text" class="form-control" id="viber" v-model.lazy.trem='user.viber'>
			</div>	
			<div class="form-group col-md-3">
				<label for="telegram">Telegram</label>
				<input type="text" class="form-control" id="telegram" v-model.lazy.trem='user.telegram'>
			</div>
			<div class="form-group col-md-3">
				<label for="instagram">Instagram</label>
				<input type="text" class="form-control" id="instagram" v-model.lazy.trem='user.instagram'>
			</div>
		</div>
		<div class="form-row">
			<div class="form-group col-md-12">
				<label for="about">О себе</label>
				<textarea name="" id="" cols="5" rows="3" required class='no-resize textarea form-control' maxlength="140" v-model.lazy.trem=' user.about'></textarea>
			</div>

		</div>

		<div class="form-row">

			<div class="form-group col">
				<div  class='ml-5 text-right mb-2'>
					<input type="checkbox" class="form-check-input" id='checkTypeValid' v-model='user.valid_announcement'>
					<label class='form-check-label' for='checkTypeValid'>Показывать ваш профиль другим пользователям?</label>	
				</div>
				<div class="text-right">
					<button class='btn btn-primary mb-2' type='submit' @click.prevent='submit($event)' :disabled="reg.valid">Сохранить изменения</button></div>
																<div class="form-text text-muted text-right" id='alertTestForm'>

						</div>
				</div>
			</div>
		

	</form>

<!-- Start block -->
   <div class=""  >
     <!--Start card-->
    <div class="card mb-3 mt-1 " >
      <div class="row no-gutters "  :class="user.subscription != 'L' ? 'vip' : 'low'">

        <div class="col-md-2 p-2">
          <img :src="user.img" class="" alt="..." style='width: 100%; height: auto;'>          
        </div>

        <div class="col-md-10 mt-sm-1">
          <div class="card-body">
            <h5 class="card-title"><%user.name%> <%user.surname%></h5>
            <p class="card-text font-weight-bold">Вид занятости <i class="fas fa-chalkboard-teacher"></i>: </p>
            <span v-for='(type, index) in type_lesson_all' v-if='type.checked == true'> <% type.type_lesson %> <span v-if="index+1 < type_lesson_all.length">, </span></span>
            <p class="card-text font-weight-bold">Название предмета <i class="fas fa-graduation-cap"></i>:</p>
            <span v-for='(skill, index) in lessons'> <% skill %> <span v-if="index+1 < lessons.length">, </span></span> </p>
            <button type="button" class="btn btn-primary m-sm-1" data-toggle="modal":data-target="'#demo' + user.id" > Подробнее...</button> 
          </div>
        </div>

        <div class="col">
          <div class="row card-text  m-sm-1">
            <div class="col-md-3 col-5"><small class="text-muted pl-0 pl-md-5">Нравится: <% user.like | countLike %> </small></div>
            <div class="col-md-3 col-7"><small class="text-muted pl-0 pl-md-5">Город: <%user.city%> </small></div>
            <div class="col-md-3 col-5"><small class="text-muted pl-0 pl-md-5"> Возраст: <%user.age%> </small></div>
            <div class="col-md-3 col-7"><small class="text-muted pl-0 pl-md-5"> Цена в час: <%user.price_per_hource%> </small></div>
          </div>         
        </div>
      </div> 
      <!-- End card -->
    </div>


    <!-- Start modal block -->
    <div class="modal fade bd-example-modal-lg"  tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" :id="'demo' + user.id">
      <div class="modal-dialog modal-lg" >
        <div class="modal-content" :class="user.subscription != 'L' ? 'vip-modal' : 'low-modal'">
          <!-- Header modal block -->
          <div class="modal-header">
            <div class="container-fluid">
              <div class="row">
                <div class="col-lg-4 col-12 text-center">
                  <img :src="user.img" class="img-thumbnail" alt="..." style='max-width: 100%; height: auto;'>
                </div>
                
                <div class="col-lg-8 col-12">
                  <h3 class="modal-title font-weight-bold" id="exampleModalLongTitle"><%user.name%> <%user.surname%></h3>
                  <p class="modal-title"> <span class="font-weight-bold">Город <i class="fas fa-city"></i></span>: <span><%user.city%> </span></p>
                  <p class="modal-title"> <span class="font-weight-bold">Возраст <i class="fas fa-user-tie"></i></span>: <span><%user.age%> </span></p>
                  <p class="modal-title"> <span class="font-weight-bold">Цена в час <i class="far fa-clock"></i></span>: <span><%user.price_per_hource%></span></p>
                  <p class="modal-title font-weight-bold">Вид занятости <i class="fas fa-chalkboard-teacher"></i>: </p>
            <span v-for='(type, index) in type_lesson_all' v-if='type.checked == true'> <% type.type_lesson %> <span v-if="index+1 < type_lesson_all.length">, </span></span>
                  <p class="modal-title font-weight-bold">Название предмета <i class="fas fa-graduation-cap"></i>:</p>
                  <span v-for='(skill, index) in lessons'> <% skill %><span v-if="index+1 < lessons.length">, </span></span> </p>
                </div>
                <div class="col-8">
                  <h4>Контактные данные: </h4>
                  <p v-if='user.mobile_number != null'><span class="font-weight-bold"><i class="fas fa-phone-alt"></i> Номер телефона:</span> <%user.mobile_number%></p>
                  <p v-if='user.email != null'><span class="font-weight-bold"><i class="fas fa-envelope"></i> Почта:</span> <%user.email%></p>
                  <p v-if='user.skype != null'><span class="font-weight-bold"><i class="fab fa-skype"></i> Skype:</span> <%user.skype%></p>
                  <p v-if='user.telegram != null'><span class="font-weight-bold"><i class="fab fa-telegram"></i> Telegram:</span> <%user.telegram%></p>
                  <p v-if='user.viber != null'><span class="font-weight-bold"><i class="fab fa-viber"></i> Viber:</span> <%user.viber%></p>
                  <p v-if='user.instagram != null'><span class="font-weight-bold"><i class="fab fa-instagram"></i> Instagram:</span> <%user.instagram%></p>
                </div>
                <div class="col-12 col-sm-4  align-self-end " :id="'like'+user.id">
                  <p class="card-text" >Нравится:<span class="text-muted" v-bind:id="user.id"> <% user.like | countLike %> </span>                 
                    <button  class="btn btn-primary ml-sm-3">  
                      <svg width="340" height="180" viewbox="0 0 640 480" xmlns="http://www.w3.org/2000/svg">
                        <g>
                          <title>Layer 1</title>
                          <g id="layer1">
                           <path id="svg_2" d="m219.28949,21.827393c-66.240005,0 -119.999954,53.76001 -119.999954,120c0,134.755524 135.933151,170.08728 228.562454,303.308044c87.574219,-132.403381 228.5625,-172.854584 228.5625,-303.308044c0,-66.23999 -53.759888,-120 -120,-120c-48.047913,0 -89.401611,28.370422 -108.5625,69.1875c-19.160797,-40.817078 -60.514496,-69.1875 -108.5625,-69.1875z"/>
                          </g>
                        </g>
                      </svg>
                   </button> 
                  </p>
                </div>
                <hr>
              </div>
            </div>
          </div>
          <!-- End header block -->
      <!-- Start body block -->
      <div class="modal-body ml-3">
        <p class="modal-title "><span class="font-weight-bold">О себе:</span> </p>
        <p class="modal-title mb-3"> <%user.about%></p>
        <div class="accordion" :id="'accordionComment'+ user.id">
         <div class="card">
           <div class="card-header" :id="'headingOne'+user.id" :class="user.subscription != 'L' ? 'vip-modal' : 'low-modal'">
             <h2 class="mb-0">
               <button class="btn btn-link" type="button" data-toggle="collapse" :data-target="'#collapseOne' + user.id" aria-expanded="false" :aria-controls="'collapseOne' + user.id">
                 Комментарии
               </button>
             </h2>
           </div>
           
           <div :id="'collapseOne' + user.id" class="collapse " :aria-labelledby="'headingOne'+user.id" :data-parent="'#accordionComment'+ user.id">
             <div class="card-body mr-3">
               <div class="input-group mb-3 mt-3 ">
                 <input type="text" class="form-control" :id="'text_comment' + user.id" >
                 <div class="input-group-append">
                   <button class="btn btn-outline-secondary btn-primary" type="button" disabled>Отправить</button>
                 </div>
               </div>
               <div :id="'comments_' + user.id">
                 <div class="alert alert-success" :class=' comment.owner.subscription == "V" ? "vip-comment": "low-coment"' v-for="comment in user.recipient_comment">
                   <p><% comment.text %></p>
                   <div class="row">
                     <div class="col-6  text-left"><% comment.owner.name %> <% comment.owner.surname %></div>
                     <div class="col-6 text-right"><span class=" "><% comment.date | dateParse %></span></div>
                   </div>
               </div>
             </div>
           </div>
                     </div>
        </div>
        <div class="card">
            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
            </div>
          </div>
        </div>
      </div>
      <!-- End body block -->
      <!-- Start footer block -->
      <div class="modal-footer">

        <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
       <!--  <button type="button" class="btn btn-primary">Связаться</button> -->
      </div>
      <!-- End footer block -->
    </div>
    <!-- End modal block -->
  </div>
  <!-- End card block -->

</div>
   <!-- End card block -->
</div> 

<div class="container">
    <example-modal ref="modal"></example-modal>
    
</div>
<div class="container">

    <enough-modal ref="enough_modal"></enough-modal>
</div>
<div class="container">

    <update-modal ref="update_modal"></update-modal>
</div>
</div>
<template id="enough-modal">
  <!-- Modal -->
  <div class="modal  enough-modal fade" id="enoughModal" tabindex="-1" role="dialog" aria-labelledby="enoughModalLabel" aria-hidden="true" >
    <div class="modal-dialog" role="document">
      <div class="modal-content" style='min-height: 25%'>
        <div class="modal-header">

          <button type="button" class="close" data-dismiss="enough-modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body text-center">
           <p class="h5 text-center m-1 ">Больше нельзя добавить уроков</p>
        </div>
      </div>
    </div>
  </div>
</template>

<template id="example-modal">
  <!-- Modal -->
  <div class="modal  fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" >
    <div class="modal-dialog" role="document">
      <div class="modal-content" style='min-height: 25%'>
        <div class="modal-header">

          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body text-center">
           <p class="h5 text-center m-1 ">Оформите подписку, что бы продолжить</p>
           <a href="{% url 'user:subscribe' %}" class="btn btn-primary m-2 mt-4">Оформить подписку</a>
        </div>
      </div>
    </div>
  </div>
</template>

<template id="update-modal">
  <!-- Modal -->
  <div class="modal  fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" >
    <div class="modal-dialog" role="document">
      <div class="modal-content" style='min-height: 25%'>
        <div class="modal-header">

          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body text-center">
           <p class="h5 text-center m-1 ">Данные обновлены успешно!</p>

        </div>
      </div>
    </div>
  </div>
</template>

{% endblock %}

{% block js %}



<script>
	Vue.component('enough-modal', {
		template: '#enough-modal',
	});
	Vue.component('example-modal', {
		template: '#example-modal',
	});

	Vue.component('update-modal', {
		template: '#update-modal',
	});



	function count(value){
		var length = 0;
		for( var key in value ) {
			if( value.hasOwnProperty(key) ) {
				++length;
			}
		}
		return length;
	}


	new Vue({
		delimiters: ['<%', '%>'],
		el: '#app-profile',
		data: {
			user: [] ,
			img_url: '',
			type_lesson_all:[ 
				{id: 5, type_lesson: 'дистанционное преподавание', checked: false },
				{id: 4, type_lesson: 'репетиторство у клиента дома', checked: false },
				{id: 3, type_lesson: 'репетиторство на дому', checked: false },
				{id: 2, type_lesson: 'решаю на заказ', checked: false },
			],
			lessons: [],
			regular: /^[a-zA-Zа-яА-Я ,.'-]+$/u,
			regularNumber: /^[+0-9]*$/u,
			checkedButton: true
			
		},
		created: function() {

			axios
			.get(`/user_profile/{{user.id}}/`)
			.then(response => {
				this.user = response.data
				this.img_url = this.user.img
				
				for(let i_all in this.type_lesson_all){
					for(let i in this.user.type_lesson ){
						if(this.user.type_lesson[i].id == this.type_lesson_all[i_all].id){
							this.type_lesson_all[i_all].checked = true
						}
					}
				}
				for(let i in this.user.skill){
					this.lessons.push(this.user.skill[i]['skill_name'])
				}
			


			});
		},
		methods:{



			showModal() {				
				let element = this.$refs.modal.$el

				$(element).modal('show')
			},
			enoughModal() {				
				let element = this.$refs.enough_modal.$el
				$(element).modal('show')
			},
			updatehModal() {				
				let element = this.$refs.update_modal.$el
				$(element).modal('show')
			},


			
			onFileChange(e) {
				const file = e.target.files[0];
				this.img_url = URL.createObjectURL(file);
				data =  new FormData()
				data.append('img', event.target.files[0]); 
				data.append('email', this.user.email); 

				const URL_axios = `/user_profile/{{user.id}}/`; 

				let config = {
					header : {
						'Content-Type' : 'application/form-data'
					}
				}

				axios
				.put(
					URL_axios,
					data,
					config,
					)
			},
			addLesson(){

				if(this.lessons.length == 3 && this.user.subscription == 'L'){
					this.showModal()
				}
				else if(this.lessons.length == 6 && this.user.subscription == 'M'){
					this.showModal()
				}else if(this.lessons.length == 9 && this.user.subscription == 'V'){
					this.enoughModal()
				}else{
					this.lessons.push('')
				}
				
				
			},
			deleteLesson(index){
				this.lessons.splice(index, 1);
			},

			reg(){
				
				let errors = []
				if(!this.regular.test(this.user.name)){
					errors.push('Некоректо введено имя')
					let item = `Некоректо введено имя`
					
					document.getElementById('nameInvalid').innerHTML =  item			
					
				}else{
					document.getElementById('nameInvalid').innerHTML = ''
				}


				if(!this.regular.test(this.user.surname)){
					errors.push('Некоректо введена фамилия')
					let item = `Некоректо введена фамилия`
					document.getElementById('surnameInvalid').innerHTML = item
				}else{
					document.getElementById('surnameInvalid').innerHTML = ''
				}


				if(!this.regular.test(this.user.city)){
					errors.push('Некоректо введен город')
					let item = `Некоректо введен город`
					document.getElementById('cityInvalid').innerHTML = item
				}else{
					document.getElementById('cityInvalid').innerHTML = ''
				}

	
				if(this.user.age < 0 ){
					errors.push('Возраст не может быть отрицательным')
					let item = `Возраст не может быть отрицательным`
					document.getElementById('ageInvalid').innerHTML = item
				}else{
					document.getElementById('ageInvalid').innerHTML = ''
				}


				if(this.user.age > 120){
					errors.push('Вам больше 120?')
					let item = `Вам больше 120?`
					document.getElementById('ageBigInvalid').innerHTML = item
				}else{
					document.getElementById('ageBigInvalid').innerHTML = ''
				}


				if(this.user.price_per_hource < 0){
					errors.push('Некоректо введена цена')
					let item = `Некоректо введена цена`
					document.getElementById('priceInvalid').innerHTML = item
				}else{
					document.getElementById('priceInvalid').innerHTML = ''
				}


				if(this.lessons.length < 1){
					errors.push('Напишите хотя бы один предмет')
					let item = `Напишите хотя бы один предмет`
					document.getElementById('lessonInvalid').innerHTML = item
				}else{
					document.getElementById('lessonInvalid').innerHTML = ''
				}


				
				
				if(!this.regularNumber.test(this.user.mobile_number)){
					errors.push('Некоректно введен номер телефона')
					let item = `Некоректно введен номер телефона`
					document.getElementById('numberInvalid').innerHTML = item
				}else{
					document.getElementById('numberInvalid').innerHTML = ''
				}


				let checked_type_lesson = false;
				for( i in this.type_lesson_all){
					if (this.type_lesson_all[i].checked == true){
						checked_type_lesson = true;
					}
				}
				if(!checked_type_lesson){
					errors.push('Выберите хотя бы один вид занятости')
					let item = `Выберите хотя бы один вид занятости`
					document.getElementById('typeInvalid').innerHTML =  item
				}else{
					document.getElementById('typeInvalid').innerHTML = ''
				}

				if (errors.length === 0) {
					return { valid:true, errors }
				} else {
					return { valid:false, errors }
				}
			},

			submit(e){
				e.stopPropagation();
				e.preventDefault();
				testingForm = this.reg();
				if (testingForm.valid == true){
					document.getElementById('nameInvalid').innerHTML =  ''
					document.getElementById('cityInvalid').innerHTML = ''
					document.getElementById('ageInvalid').innerHTML = ''
					document.getElementById('ageBigInvalid').innerHTML = ''
					document.getElementById('priceInvalid').innerHTML = ''
					document.getElementById('lessonInvalid').innerHTML = ''
					document.getElementById('numberInvalid').innerHTML = ''
					document.getElementById('typeInvalid').innerHTML =  ''
				this.user.skill = []
				for(let i in this.lessons){
					if(this.lessons[i].length > 0 )
						this.user.skill.push(this.lessons[i].toLowerCase())
				}
				this.user.type_lesson = []
				for( i in this.type_lesson_all){
					if (this.type_lesson_all[i].checked == true){
						this.user.type_lesson.push(this.type_lesson_all[i].id)
					}
				}
				const URL = `/user_profile/{{user.id}}/`; 
				data = {
					'name': this.user.name,
					'surname': this.user.surname,
					'email': this.user.email,
					'mobile_number': this.user.mobile_number,
					'about': this.user.about,
					'age': this.user.age,
					'price_per_hource': this.user.price_per_hource,
					'city': this.user.city,
					'skype': this.user.skype,
					'instagram': this.user.instagram,
					'telegram': this.user.telegram,
					'viber': this.user.viber,
					'valid_announcement': this.user.valid_announcement,
					'skill': this.user.skill,
					'type_lesson': this.user.type_lesson,
				}
				let config = {
					header : {
						'Content-Type' : 'application/form-data'
					}
				}

				axios
				.put(
					URL,
					data,
					config,
				)
				.then(resp => this.updatehModal())
	
				}else{
					document.getElementById('alertTestForm').innerHTML = 'Форма заполнена неправильно!'
				}
			}
		},
		filters: {
			countLike: function(value){
				return count(value);
			},
			dateParse: function(value){
				return value.slice(0,-17)
			}
		},
		
	})
</script>
{% endblock %}