{% extends "base.html" %}
{% block title %}Регистрация teach.ua{% endblock %}
{% load crispy_forms_tags %}
{% block css %}
	<style>
			.main{
		background: white;
		border-radius: 10px;
		padding: 2%;
	}



	h1, h2, label{
		color: #401f68;
	}

	.form-check-label{
		color: #495057;
	}
	</style>
{% endblock %}
{% block content %}
<div class="container main mt-5 pl-4 pr-4">
	<div class="row pb-3">
		<div class="col-12">
			<h1 class='text-center h1'>Регистрация</h1>
			{% if form.non_field_errors %}
			<div class="alert alert-danger" role="alert">
				{{ form.non_field_errors }}
			</div>

			{% endif %}
		</div>
		<div class="col-12  justify-content-center">
			{% if user.is_authenticated %}
			<p class='text-center h3'>Что такое, {{ user.username }}? Вы же уже авторизорваны. 
				Впрочем, всегда можно <a href="{% url 'logout' %}">выйти</a>.<br/><br/></p>
				{% else %}
				<form method="post" action="">
					{% csrf_token %} 
					<div class="form-row">
						
						<div class="form-group col-md-6">
							{{ form.name| as_crispy_field }}
						</div>
						<div class="form-group col-md-6">
							{{ form.surname| as_crispy_field }}
						</div>
					</div>
					<div class="form-row">
												<div class="form-group col-md-6">
							{{ form.email| as_crispy_field }}
						</div>
						<div class="form-group col-md-6">
							{{ form.type_persone | as_crispy_field }}

						</div>

					</div>
					<div class="form-row">
						
						<div class="form-group col-md-12">
							{{ form.password1 | as_crispy_field }}
							{{ form.password1.help_text }}
						</div>
						<div class="form-group col-md-12">
							{{ form.password2 | as_crispy_field }}
						</div>
					</div>
					<div class="form-row  justify-content-end">
						<input type="submit" value="Зарегестрироваться" class="btn btn-primary ">
					</div>
					
				</form>

				{% endif %}

				<br/><br/>
			</div>
		</div>






	{% endblock %}